body{

    font-family: Arial, sans-serif;   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    margin: 0;
}
.calculator {

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
}
#display {

    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
}
.buttons {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.button {

    font-size: 18px;
    padding: 20px;
    background-color: #f1f1f1;
    border-color:#5f5f5f ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
input{
    font-size: 40px;
}
button{
    font-size: 30px
}